name: Build and test Go
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.25.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run go test
        run: go test ./... -v

      - name: Run go build
        run: go build
